<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= display_banner() %>
    </div>
    <div class="col-md-4">
      <h2>Updates</h2>
      <%= render "twitter_update_timeline.html" %>
    </div>
  </div>
</div>
