<div class="container">
  <div class="row">
    <%= display_banner() %>
  </div>
  <div class="row">
  <div id="hello-world">
    {{message}}
  </div>
  </div>
</div>
<script>
new Vue({
  el: '#hello-world',
  data: {
    message: "Test Vue Message"
  }
})
</script>
