<a class="twitter-timeline" data-chrome="noheader" data-width="300" data-dnt="true" data-link-color="#ca2d36" href="https://twitter.com/gojira_cineaste">Updates</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8">
</script>