<table class="table table-nonfluid">
  <%= render_original_name(@person.other_names) %>
  <%= render_birth_name(@person.other_names) %>
  <%= render_japanese_name(@person.other_names) %>
  <%= render_aliases(@person.aliases) %>
</table>