<tr>
  <td class="subdue">
    Born
  </td>
  <td class="minor">
    <%= @dob %>
    <br/>
    <span class="subtitle"><%= @birth_place %></span>
  </td>
</tr>
<tr>
  <td class="subdue">
    Died
  </td>
  <td class="minor">
    <%= raw "#{@dod} <span class=\"subtitle\">(#{@age})</span>" %>
    <br/>
    <span class="subtitle"><%= @death_place %></span>
  </td>
</tr>