<%= for role_name <- @role_names do %>
  <p>
    <%= raw "<span class=\"table-header\">#{role_name}</span> <span class=\"subdue\">(#{Map.get(@role_groups, role_name) |> Enum.count})</span>" %>
  </p>
  <ul class="index">
    <%= for role <- Map.get(@role_groups, role_name) do %>
      <li>
        <%= render_film_link(@conn, role, role_name) %>
      </li>
    <% end %>
  </ul>
<% end %>
