<%= for role_name <- @role_names do %>
  <p>
    <%= "#{role_name} (#{Map.get(@role_groups, role_name) |> Enum.count})" %>
  </p>
  <ul class="index">
    <%= for role <- Map.get(@role_groups, role_name) do %>
      <li>
        <%= render_film_link(@conn, role, role_name) %>
      </li>
    <% end %>
  </ul>
<% end %>
