<div role="tabpanel" class="tab-pane fade" id="gallery">
    <%= for i <- @file_names do %>
      <a href="<%= @full_url <> i <> ".jpg" %>" data-lightbox="#{film_id}">
        <img class="img-thumbnail" src="<%= @thumb_url <> i <> ".jpg" %>" />
      </a>
    <% end %>
</div>