<div class="container">
  <div class="row">
<h2>Film Index</h2>
  <ul class="index">
    <%= for view <- @film_index_views do %>
    <li>
      <%= link "#{view.title} (#{view.year})", to: film_path(@conn, :show, view.id) %>
    </li>
    <% end %>
  </ul>
</div>
</div>