<div id="other-cast">
  <table class="table table-nonfluid">
    <thead><span class="table-header">Rest of Cast Listed Alphabetically</span></thead>
    <%= for view <- @other_cast do %>
    <tr>
      <td class="minor">
        <%= render_people_link(@conn, view) %>
      </td>
      <td class="subdue">
        <%= for role <- view.roles do %>
          <%= role %><br/>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
