<div id="staff">
  <table class="table">
    <%= for view <- @film_staff_views do %>
    <tr>
      <td>
        <%= view.role %>
      </td>
      <td>
        <%= for staff <- sorted_staff(view.staff) do %>
          <%= staff.name %>
          <br />
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>