<table class="table table-nonfluid">
  <%= for view <- @film_staff_views do %>
  <tr>
    <td>
      <%= view.role %>
    </td>
    <td>
      <%= for staff <- sorted_staff(view.staff) do %>
        <%= if staff.showcase do %>
          <%= link "#{staff.name}", to: people_path(@conn, :show_person, staff.person_id) %>
        <% else %>
          <%= staff.name %>
        <% end %>
        <br />
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
