<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a>
    </li>
    <%= if !Enum.empty?(@gallery_images) do %>
      <li role="presentation">
        <a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Gallery</a>
      </li>
    <% end %>
  </ul>
</div>
