<div id="top-billed-cast">
  <table class="table table-nonfluid">
    <thead><span class="table-header">Top Billed Cast</span></thead>
    <%= for view <- @top_billed_cast do %>
      <tr>
        <td>
          <%= render_people_link(@conn, view) %>
        </td>
        <td>
          <%= for role <- view.roles do %>
            <%= role %><br/>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
