<div class="container">
  <div class="row">
    <h2>People</h2>
    <div id="people-index">
      <div class="search-bar input-group input-group-sm">
        <span class="input-group-addon" id="basic-addon3" aria-described-by="basic-addon3">Search</span>
        <input type="text" class="form-control" id="people-search-bar">
      </div>
      <div id="people-list">
        <%= render "people.html", people_index_views: @people_index_views %>
      </div>
    </div>
  </div>
</div>