<tr>
  <td class="subdue">
    Born
  </td>
  <td class="minor">
    <%= @dob %>
    <br/>
    <span class="subtitle"><%= @birth_place %></span>
  </td>
</tr>
<tr>
  <td class="subdue">
    Died
  </td>
  <td class="minor">
    Unknown
  </td>
</tr>