<tr>
  <td class="subdue">
    Born
  </td>
  <td class="minor">
    <%= raw "#{@dob} <span class=\"subtitle\">(#{@age})</span>" %>
    <br/>
    <span class="subtitle"><%= @birth_place %></span>
  </td>
</tr>