$bowlby: 'Bowlby One SC', cursive;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$roboto: 'Roboto', sans-serif;
$fontsize: 12px;
$cineaste-red: #ca2936;

.table-nonfluid {
  width: auto !important;
}

.header {
  margin-bottom: 65px;
}

h2, h3 {
  font-family: $bowlby;
  font-weight: normal;
}

#cineaste-navbar {
  font-family: $roboto;
  text-transform: uppercase;
  font-weight: 900;
}

body {
  font-family: $roboto;
  font-size: $fontsize;
}

#overview {
  font-family: $roboto;
}

#synopsis-modal {
  font-family: $roboto;
}

#person-info, #group-info {
  font-family: $roboto-condensed;
  font-size: 10pt;
  float: left;
  margin: 5px;
}

@media only screen and (max-width: $screen-xs-max) {
  #person-info, #group-info {
    float: none;
  }
}

@media screen and (max-width: 480px) {
  .nav {
      padding-left:2px;
      padding-right:2px;
  }
  .nav li {
      display:block !important;
      width:100%;
      margin:0px;
  }
  .nav li.active {
      border-bottom:1px solid #ddd!important;
      margin: 0px;
  }
}

.container {
  max-width: 920px !important;
  padding: 5px;
}

.row {
  margin: 0px;
}

.subdue {
  color: #888888;
  font-weight: 300;
}

.thin {
  font-weight: 300;
}

.gray {
  color: #888888;
}

.minor {
  color: #666666;
}

.subtitle {
  font-size: 8pt;
  font-style: italic;
}

a.image-link {
  text-decoration: none;
  :hover {
    text-decoration: none;
  }
  img {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.index li {
  list-style-type: none;
}

.nav-tabs {
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 2px solid $cineaste-red;
  padding-bottom: 10px;
  li > a, li:hover > a {
    border: 0;
    background-color: transparent;
    font-size: 14px;
  }
  li.active > a, li.active > a:hover, li.active > a:focus {
    border: 0;
    background-color: $cineaste-red;
    color: white;
    border-radius: 7px 7px 7px 7px;
  }
}

.table-header {
  font-weight: 700;
  text-transform: uppercase;
}

.heavy {
  font-weight: 700;
}

.banner {
  text-align: center;
}

.search-bar {
  margin: 15px;
}

.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

p {
  overflow: hidden;
}

.btn {
  font-size: $fontsize;
}

.scalable-pic {
  max-width: 100%;
  height: auto;
}

dt {
  text-transform: uppercase;
}

span.studios {
  font-size: 12px;
  line-height: 2;
  font-weight: normal;
}

div#info {
  max-width: 300px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 140px;
    display:none;
}

.btn-cineaste {
  color: $cineaste-red;
  background-color: white;
}

a#back-to-top:hover {
  color: $cineaste-red;
}

.btn-circle.btn-xl {
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
}

p.decade {
  margin: 15px;
}
