<div role="tabpanel" class="tab-pane fade" id="gallery">
  <div class="container">
    <%= for i <- @file_names do %>
      <a class="image-link" href="<%= @full_url <> i <> ".jpg" %>" data-lightbox="#{film_id}">
        <img class="img-rounded scalable-pic" src="<%= @thumb_url <> i <> ".jpg" %>" />
      </a>
    <% end %>
  </div>
</div>