<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Godzilla Cineaste</title>
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>


  <body>
    <div class="container-fluid">
      <header class="header">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cineaste-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= home_path(@conn, :index)%>">
                    <img alt="Brand" src="<%= static_path(@conn, "/images/c-logo-sm.png")%>" width="20" height="20">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="cineaste-navbar">
                <ul class="nav navbar-nav">
                    <li><a href="<%= about_path(@conn, :index) %>">About</a></li>
                    <li><a href="<%= film_path(@conn, :index) %>">Films</a></li>
                    <li><a href="<%= people_path(@conn, :index) %>">People</a></li>
                </ul>
            </div>
          </div>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
      <div class="container footer">
        <div class="row">
        <hr/>
        <p class="subtitle subdue" align="center">
          The Godzilla Cineaste<br/>
          Original text &copy; James Tortorelli 2016<br/>
          Films referenced herein are the property of their respective studios. All rights reserved.
        </p>
        <hr/>
      </div>
      </div>

    </div> <!-- /container -->
  </body>
</html>
