$bowlby: 'Bowlby One SC', cursive;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$roboto: 'Roboto', sans-serif;

.table-nonfluid {
  width: auto !important;
}

.header {
  margin-bottom: 65px;
}

h2 {
  font-family: $bowlby;
  font-weight: normal;
}

#cineaste-navbar {
  font-family: $roboto;
  text-transform: uppercase;
  font-weight: 900;
}

body {
  font-family: $roboto;
}

#overview {
  font-family: $roboto-condensed;
}

#synopsis-modal {
  font-family: $roboto;
}

#person-info, #group-info {
  font-family: $roboto-condensed;
  font-size: 10pt;
  float: left;
  margin: 5px;
}

.container {
  max-width: 920px !important;
  padding: 5px;
}

.row {
  margin: 0px;
}

.subdue {
  color: #aaaaaa;
  font-weight: 300;
}

.minor {
  color: #666666;
}

.subtitle {
  font-size: 8pt;
  font-style: italic;
}

a.image-link {
  text-decoration: none;
  :hover {
    text-decoration: none;
  }
  img {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.index li {
  list-style-type: none;
}

.nav-tabs {
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 0;
  li > a, li:hover > a, li.active > a:hover, li.active > a, li.active > a:focus {
    border: 0;
    background-color: transparent;
  }
}

.table-header {
  font-weight: 700;
  text-transform: uppercase;
}